cifar10_data/
logs*/
*.pyc
*.log
*.png
*.tar.gz
logs*
resnetckpt
smallcnne200
smallcnnepoch50
smallcnne200det
smallcnne200ckpt
resnete150
pinkbar
pinkbardet
smallcnnckpt
pinkbar2
pinkbardet2
pinkbardettest
pinkbartest
.ipynb_checkpoints